package ${cfg.basePackage}.${cfg.moduleName}.controller;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;


    #if(${superControllerClassPackage})
    import ${superControllerClassPackage};
    #end
import ${cfg.basePackage}.${cfg.moduleName}.service.${table.serviceName};
import ${cfg.basePackage}.${cfg.moduleName}.entity.${table.entityName};


/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @date  ${date}
 */
@RestController
@RequestMapping("/${cfg.moduleName}/${table.name}")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass}<${table.serviceName},${entity}> {
#else
public class ${table.controllerName} {
#end

        }
