package ${cfg.basePackage}.${cfg.moduleName}.service;

import ${cfg.basePackage}.${cfg.moduleName}.entity.${entity};
import ${superServiceClassPackage};

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @date ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

        }
