package ${cfg.basePackage}.${cfg.moduleName}.controller;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.web.bind.annotation.RequestBody;
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

import com.y3tu.tool.web.base.pojo.R;


/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @date  ${date}
 */
@RestController
@RequestMapping("/${cfg.moduleName}/${table.name}")
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    public Object test(@RequestBody Long id){
        //测试方法，代码生成后，请删除
        return R.ok("操作成功");
    }
}
