import request from '@/router/axios'

export function getAll() {
    return request({
        url: '/${moduleName}/${pathName}/getAll',
        method: 'get',
    })
}

export function getByPage(params) {
    return request({
        url: '/${moduleName}/${pathName}/getByPage',
        method: 'get',
        data: params
    })
}

export function get(id) {
    return request({
        url: '/${moduleName}/${pathName}/get/' + id,
        method: 'get'
    })
}

export function save(obj) {
    return request({
        url: '/${moduleName}/${pathName}/save',
        method: 'post',
        data: obj
    })
}

export function update(obj) {
    return request({
        url: '/${moduleName}/${pathName}/update',
        method: 'put',
        data: obj
    })
}

export function delById(id) {
    return request({
        url: '/${moduleName}/${pathName}/delById' + id,
        method: 'delete'
    })
}

export function delByIds(ids) {
    return request({
        url: '/${moduleName}/${pathName}/delByIds',
        method: 'delete',
        data: ids
    })
}

