package ${package}.${moduleName}.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import lombok.EqualsAndHashCode;
    #if(${hasBigDecimal})
    import java.math.BigDecimal;
    #end
    #if(${hasDate})
    import java.util.Date;
    #end
import java.io.Serializable;

import com.y3tu.tool.web.base.entity.BaseEntity;


/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${className} extends BaseEntity<${className}> {
private static final long serialVersionUID=1L;

#foreach ($column in $columns)
/**
 * $column.comments
 */
    #if($column.columnName == $pk.columnName)
    @TableId(value = "$column.columnName", type = IdType.AUTO)
    #elseif($column.columnName != $column.lowerAttrName)
    @TableField("$column.columnName")
    #end
private $column.attrType $column.lowerAttrName;
#end

/**
 * 主键值
 */
@Override
protected Serializable pkVal(){
        return this.$pk.lowerAttrName;
        }
        }
