package ${package}.${moduleName}.mapper;

import ${package}.${moduleName}.entity.${className};
import com.y3tu.tool.web.base.dao.BaseMapper;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {

}
