package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className};
import com.y3tu.tool.web.base.service.BaseService
/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends BaseService<${className}> {
}

